__pycache__/
*.pyc
*.log
*.tmp
.DS_Store
Thumbs.db
dist/
build/
*.egg-info/

# test files
quarantine
log.txt
my_test_dir/
Antivirus.ini
antivirus.ini
*.ini
*.cfg
test_signature_generator/inf_file_tree.txt
отчет/
test.exe

# system files
-p/
venv/
.idea/
.vscode/
*.vscode/
*.idea/

# build files
/build/
.DS_Store
Thumbs.db
CMakeCache.txt
antivirus.txt
MCache.txt
antivinrus.txt
antivinrus.ini
antivirus.json
+++++ docs/gpt-3-1.md
MCache.json
+++++ docs/Console.cfg
antivinrus.blk
+++++ docs/Protect.ini
+++++ docs/Console.ini
+++++ docs/Protection.ini
+++++ docs/Console.ini
+++++ docs/AntiClear.ini
+++++ docs/ClearDelet.ini

CMakeFiles/
cmake_install.cmake
Makefile
*.log

# something
*.o
*.obj
*.exe
*.dll
*.lib
*.pdb
*.dSYM
*.swp
*.pdf 
